<header>
  <nav class = "navbar primary-nav" style="display : block">
    <div class = "navbar-header">
      <a routerLink="" alt="mastercard connect" title = "mastercard connect">MasterCard connect</a>
    </div>

    <div class = "navbar-header" style = "display:block; float:right" >
      <a *ngIf = "router.url != '/signin'" (click)="signoutUser()">  Sign Out</a>
    </div>

    <div class = "navbar-header" style = "display:block; float:right">
      <a *ngIf = "router.url != '/signin'">Welcome, Aruna </a> <!-- {{service.userInfo.username}}</a>-->
    </div>
  </nav>
</header>
<section>
    <div>
        <ol>
            <a class = "cursor-to-pointer" (click) = "NavToHome()">Home/</a>
            <a class = "cursor-to-pointer" (click) = "NavToHome()">Operation Console</a>
        </ol>
    </div>
    <div>
      <h1>Operation Console Application - {{currentEnv}}</h1>
    </div>
</section>
<footer>

</footer>